#############
## R Studio
#############
.Rproj.user
.RData
.Rhistory
*_cache
*_files

#############
## QlikView
#############
*.qvd
*.qvw
Log.txt

#############
## Tableau
#############
*.tde

#############
## Specific to this project
#############
*.bak
*.RData
*.zip
/*.html
/*.pdf
GADM*.rds
1.SourceData/fdic.gov/**/*.csv
1.SourceData/ncua.gov/**/*.txt
1.SourceData/ncua.gov/**/Account_Descriptions.xls
4.DataProducts/**/*.csv
images/
temp/
